<html>
    <head>  
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static_url }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url }}css/base.css">
    <link rel="stylesheet" href="{{ static_url }}datetimepicker/jquery.datetimepicker.css">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="out_frame">
        <div class="header">
            <div class="dropdown" style='float:right'>
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">主题
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">设置</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/logout">退出</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="left_content">
                <div class="date_picker">
                    <input type="text" id="date_picker"/>
                </div>
            </div>
            <div class="mid_content">
                <div class="navigation_bar"  id="navigation_bar">
                    {% include 'nav.html' %}
                </div>
                <div class="content_main">
                    {% block content %} 
                    {% endblock %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer">
            Copyright © 1999-2016, CSDN.NET, All Rights Reserved
        </div>
    </div>
    <script type="text/javascript" src="{{ static_url }}jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="{{ static_url }}js/base.js"></script>
    <script type="text/javascript" src="{{ static_url }}tinymce/js/tinymce/tinymce.min.js"></script>
    {% block script %}
    {% endblock %}
</body>

</html>